{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}"/>
{% endblock %}


{% block main %}

<div class="profile">
    <section class="top">
        <div id="image">
            <img class="pic" src="{{url_for('static', filename='./apocalyse_scene_4k-1600*900.jpg')}}">
        </div>
        <h1 class="name">Jevan Williamson</h1>
        <h2>@jevwilliamson</h2>
        <h2>Portmore, St. Catherine</h2>
        <h2>{{todays date}}</h2>
    </section>
    <section class="middle">
        <p>Hi I'm Paul. I do Web Development. I like many things and I also dislike many things.</p>
        <section class="bottom">
            <div class="info">
                <h3>7</h3>
                <strong>Posts</strong>
            </div>
            <div class="info">
                <h3>100</h3>
                <strong>Following</strong>
            </div>
            <div class="info">
                <h3>250</h3>
                <strong>Followers</strong>
            </div>
        </section>
        <button>Follow</button>
    <section>
<div>

{% endblock %}

















